<!doctype html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
    <style>
    .done{text-decoration: line-through;color:#ccc;}
    </style>
</head>

<body>
    <div ng-controller="todoController">
        <form name="frm" ng-submit="addTodo()">
            <input type="text" name="newtodo" ng-model="newTodo" required/>
            <button ng-disabled = "frm.$invalid"> GO </button>
        </form>
        <button ng-click="clearCompleted()">Clear Completed</button>
        <ul>
                <li ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.done" /> 
                        <span ng-class="{'done':todo.done}">{{todo.title}}</span>
                </li>
            </ul>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script>

angular.module('ToDo',[]).
controller('todoController',['$scope',function($scope){
    $scope.todos = [
        {'title': 'Build a todo app', 'done':false}
    ];

    $scope.addTodo = function(){
        $scope.todos.push({'title':$scope.newTodo,'done':false})
                    $scope.newTodo = ''
    }
    $scope.clearCompleted = function(){
        $scope.todos = $scope.todos.filter(function(item){
                        return !item.done
    })
}
}])
</script>
</body>
</html>